body {
  font-family: 'Press Start 2P', cursive;
  font-size: 1em;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0bb;
}

//APP
#app {
  text-align: center;
  justify-content: center;
  width: 350px;
  
  #title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  #clock {
    border-radius: 20px;
    border-bottom-right-radius: 65px;
    background-color: #bbb;
    height: 560px;
  }
}

#blank {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #eee;
  color: #eee;
  padding-bottom: 25px;
}


//TIMER DISPLAY
#timer {
  border-radius: 15px;
  border-bottom-right-radius: 65px;
  background-color: #666;
  margin: 10px 30px 50px 30px;
  height: 37%;
  display: flex;
  justify-content: center;
  
  #retro-display {
    box-sizing: border-box;
    padding-top: 35px;
    min-width: 185px;
    min-height: 175px;
    background-color: #9c4;
    color: #140;
    align-self: center;
    
    #session {
    }
    #break {
      margin-top: 30px;
      opacity: .25;
    }
    
    .fa-caret-right {
      position: absolute;
      margin-top: -2px;
      margin-left: -80px;
      font-size: 1.25em;
    }

    .hide {
      display: none;
    }

    #timer-label {
      font-size: 1.25em;
    }
    #timer-left {
      margin-top: 17px;
      font-size: 1.5em;
    }
  }
}

//BUTTONS
.adjustment {
  font-size: 1.5em;
  width: 100%;
  display: flex;
  justify-content: space-around;
  
}

#b-circle {
  position: absolute;
  color: #c49;
  font-size: 2em;
  margin-left: 136px;
  margin-top: 50px;
  z-index: 1;
}
#break-label {
  position: absolute;
  z-index: 2;
  margin-left: 238px;
  margin-top: 64px;
}
#s-circle {
  position: absolute;
  color: #c49;
  font-size: 2em;
  margin-left: 21px;
  margin-top: 20px;
  z-index: 1;
}
#session-label {
  position: absolute;
  z-index: 2;
  margin-left: 122px;
  margin-top: 34px;
}

#break-increment, #session-decrement, #break-decrement, #session-increment {
  cursor: pointer;
}

.up {
  position: absolute;
  font-size: 2em;
  margin-top: 12px;
  margin-left: -299px;
  z-index: 1;
}
.right {
  position: absolute;
  font-size: 2em;
  margin-top: 27px;
  margin-left: -282px;
}
.down {
  position: absolute;
  font-size: 2em;
  margin-top: 42px;
  margin-left: -299px;
  z-index: 2;
}
.left {
  position: absolute;
  font-size: 2em;
  width: 0;
  padding: 0;
  margin-top: 27px;
  margin-left: -316px;
}

#b-label, #s-label {
  width: 50%;
  user-select: none;
  cursor: pointer;
}

#controls {
  cursor: pointer;
}
#start {
  position: absolute;
  font-size: .43em;
  margin-left: -225px;
  margin-top: 140px;
  transform: rotate(-30deg) scaleX(6);
  color: #777;
}
#restart {
  position: absolute;
  font-size: .43em;
  margin-left: -165px;
  margin-top: 140px;
  transform: rotate(-30deg) scaleX(6);
  color: #777;
}
#reset, #start_stop {
  position: absolute;
}
#r-button {
  position: absolute;
  font-size: .3em;
  transform: rotate(-30deg);
  margin-top: 155px;
  margin-left: -165px;
  color: #448;
}
#s-s-button {
  position: absolute;
  font-size: .3em;
  transform: rotate(-30deg);
  margin-top: 155px;
  margin-left: -225px;
  color: #448;
}





